
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.2/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilenavbar_2 */
.Tab1_mobilenavbar_2 {

}
.Tab1_mobilenavbar_2 .ui-grid-a .ui-block-a {
	clear:none;
}
.ui-footer .Tab1_mobilenavbar_2 ul li:last-child a {
	margin-right: 1px !important;
}
.ui-header .Tab1_mobilenavbar_2 ul li:last-child a {
	margin-right: -1px !important;
}
.Tab1_mobilenavbar_2 ul.ui-grid-duo li:nth-child(even) a {
	margin-right: 1px !important;
}
/* mobilecontainer */
.ui-content.Tab1_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* mobilebutton_7 */
#Tab1_mobilebutton_7 {

}
.ui-btn.Tab1_mobilebutton_7 {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.Tab1_mobilefooter {
	min-height:38px;
}
/* blindsPanel */
.Tab1_blindsPanel .ui-panel-inner {
	padding: 15px 15px 15px 15px;
}
.Tab1_blindsPanel:focus {
	outline: 0;
}
/* mobilegrid_9 */
.Tab1_mobilegrid_9 {
	height: auto;
	width:100%;
	margin: 4px 0px 4px 0px;
	border-collapse: collapse;
	table-layout: fixed;
}
.Tab1_mobilegrid_9 > tr > td {
	vertical-align: top;
}
.Tab1_mobilegrid_9_row_0, .Tab1_mobilegrid_9_row_0 > td {
	height: 30px
}
.Tab1_mobilegrid_9_row_1, .Tab1_mobilegrid_9_row_1 > td {
	height: 30px
}
.Tab1_mobilegrid_9_row_2, .Tab1_mobilegrid_9_row_2 > td {
	height: 30px
}
.Tab1_mobilegrid_9_row_3, .Tab1_mobilegrid_9_row_3 > td {
	height: 30px
}
.Tab1_mobilegrid_9_row_4, .Tab1_mobilegrid_9_row_4 > td {
	height: 30px
}
.Tab1_mobilegrid_9_row_5, .Tab1_mobilegrid_9_row_5 > td {
	height: 30px
}
.Tab1_mobilegrid_9_row_6, .Tab1_mobilegrid_9_row_6 > td {
	height: 30px
}
.Tab1_mobilegrid_9_row_7, .Tab1_mobilegrid_9_row_7 > td {
	height: 30px
}
.Tab1_mobilegrid_9_row_8, .Tab1_mobilegrid_9_row_8 > td {
	height: 30px
}
.Tab1_mobilegrid_9_row_9, .Tab1_mobilegrid_9_row_9 > td {
	height: 30px
}
.Tab1_mobilegrid_9_row_10, .Tab1_mobilegrid_9_row_10 > td {
	height: 30px
}
.Tab1_mobilegrid_9_row_11, .Tab1_mobilegrid_9_row_11 > td {
	height: 30px
}
.Tab1_mobilegrid_9_row_12, .Tab1_mobilegrid_9_row_12 > td {
	height: 30px
}
.Tab1_mobilegrid_9_row_13, .Tab1_mobilegrid_9_row_13 > td {
	height: 30px
}
.Tab1_mobilegrid_9_row_14, .Tab1_mobilegrid_9_row_14 > td {
	height: 30px
}
.Tab1_mobilegrid_9_row_15, .Tab1_mobilegrid_9_row_15 > td {
	height: 30px
}
.Tab1_mobilegrid_9_row_16, .Tab1_mobilegrid_9_row_16 > td {
	height: 30px
}
/* mobilegridcell_10 */
.Tab1_mobilegridcell_10 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tab1_mobilegridcell_10 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_30 */
.Tab1_mobileimage_30 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilegridcell_12 */
.Tab1_mobilegridcell_12 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tab1_mobilegridcell_12 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_29 */
.Tab1_mobileimage_29 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilegridcell_14 */
.Tab1_mobilegridcell_14 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tab1_mobilegridcell_14 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_31 */
.Tab1_mobileimage_31 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilegridcell_15 */
.Tab1_mobilegridcell_15 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tab1_mobilegridcell_15 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_32 */
.Tab1_mobileimage_32 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilegridcell_16 */
.Tab1_mobilegridcell_16 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tab1_mobilegridcell_16 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_33 */
.Tab1_mobileimage_33 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilegridcell_17 */
.Tab1_mobilegridcell_17 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tab1_mobilegridcell_17 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_34 */
.Tab1_mobileimage_34 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilegridcell_18 */
.Tab1_mobilegridcell_18 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tab1_mobilegridcell_18 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_35 */
.Tab1_mobileimage_35 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilegridcell_19 */
.Tab1_mobilegridcell_19 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tab1_mobilegridcell_19 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_36 */
.Tab1_mobileimage_36 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilegridcell_20 */
.Tab1_mobilegridcell_20 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tab1_mobilegridcell_20 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_37 */
.Tab1_mobileimage_37 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilegridcell_21 */
.Tab1_mobilegridcell_21 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tab1_mobilegridcell_21 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_38 */
.Tab1_mobileimage_38 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilegridcell_22 */
.Tab1_mobilegridcell_22 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tab1_mobilegridcell_22 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_39 */
.Tab1_mobileimage_39 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilegridcell_23 */
.Tab1_mobilegridcell_23 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tab1_mobilegridcell_23 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_40 */
.Tab1_mobileimage_40 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilegridcell_24 */
.Tab1_mobilegridcell_24 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tab1_mobilegridcell_24 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_41 */
.Tab1_mobileimage_41 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilegridcell_25 */
.Tab1_mobilegridcell_25 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tab1_mobilegridcell_25 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_42 */
.Tab1_mobileimage_42 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilegridcell_26 */
.Tab1_mobilegridcell_26 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tab1_mobilegridcell_26 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_43 */
.Tab1_mobileimage_43 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilegridcell_27 */
.Tab1_mobilegridcell_27 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tab1_mobilegridcell_27 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_44 */
.Tab1_mobileimage_44 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}
/* mobilegridcell_28 */
.Tab1_mobilegridcell_28 {
	height:30px !important;
	width:auto;
	padding: 2px 2px 2px 2px;
}
.Tab1_mobilegridcell_28 > .cell-wrapper {
	padding: 0;
	margin: 0;
}
/* mobileimage_45 */
.Tab1_mobileimage_45 {
	margin: 4px 0px 4px 0px;
	width: 100px; height: 100px;
	display: block;
}